/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 // @import "bs-override";

$whitish: #fffffe;
$redish: #BF322E;

 @font-face {
   font-family: CovesLight;
   src: font-url('Coves_Light.otf') format("opentype");
 }

 @font-face {
   font-family: Qanelas;
   src: font-url('QanelasLight.otf') format("opentype");
 }

 @font-face {
  font-family: domo;
  src: font-url('domo.ttf') format("truetype");
}

html, body {
  height: 100%;
}

body {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  // background-image: image-url("paper_bg.jpg");
  background-size: cover;

}

h1 {
  margin: 20px;
  font-size: 24px;
  font-style: italic;
}

h2 {
  font-size: 20px;
}


#main {
  // background-color: rbga(97,167,255,0.5);
  // background-color: rgba(50, 107, 178, 0.9);
  // background-color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#326bb2+0,326bb2+0,12447c+100 */
  background: #326bb2; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #326bb2 0%, #326bb2 0%, #12447c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #326bb2 0%,#326bb2 0%,#12447c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #326bb2 0%,#326bb2 0%,#12447c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#326bb2', endColorstr='#12447c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  min-height: 100%;
}

.navbar {
  @extend .shadow;
  border-radius: 0;
  margin: 0 -15px;
  // background: none;
  background-color: $whitish;
}

.navbar-brand {
  font-family: 'Dosis', sans-serif;
  color: $redish;
}

.navbar li {
  padding: 0 10px;
}

.btn {
  border-radius: 0;
  border: none;
}

.btn-default {
  @extend .shadow;
  @extend .text-shadow;
  background: $redish;
  color: $whitish;
  margin: 10px 0;
}

.btn-default:hover {
  background: darken($redish, 5);
  color: $whitish;
}

.shadow {
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.boxed {
  @extend .shadow;
  // margin: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  // width: 100%;
  background-color: $whitish;

}

.flash {
  position: absolute;
  left: 30px;
  z-index: 10;
}

.course {
  @extend .boxed;
  @extend .col-md-6;
  @extend .col-md-offset-3;
  @extend .col-sm-8;
  @extend .col-sm-offset-2;
  @extend .col-xs-10;
  @extend .col-xs-offset-1;
}

.concept {
  @extend .course;
}

.concept-content {
  @extend .course;
}

.exercise, .exercise-content, .exercise-answer {
  @extend.course
}

.form-group {
  @extend .col-md-6;
  @extend .col-md-offset-3;
  @extend .col-sm-8;
  @extend .col-sm-offset-2;
  @extend .col-xs-10;
  @extend .col-xs-offset-1;
  margin-top: 50px;
}

.form-control {
  text-align: center;
}

select {
  @extend .form-control;
  width:auto;
  margin: 0 auto;
}

.subject-label {
  color: $whitish;
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.title {
  @extend .boxed;
  @extend .col-md-4;
  @extend .col-md-offset-4;
  @extend .col-sm-6;
  @extend .col-sm-offset-3;
  @extend .col-xs-8;
  @extend .col-xs-offset-2;
  @extend .text-shadow;
}

.navbar a:hover{
  background-color: black;
}
